*{
	padding: 0;
	margin: 0;


}
body{
	
	 font-family: 'Josefin Sans', sans-serif;
     
	font-size:18px;

}


h1,h2,h3 {
	font-family: 'Cardo', serif;
}
h2{
	
	font-weight: bold;
}
.jumbotron{
	color: white;
	background-image:url('images/city.jpg');
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
    padding: 150px 0;
	margin-bottom: 0;
	
}


.jumbo-me{
	height: 250px;
	width: 250px;
	background-color:#666;
	border-radius: 50%;
	margin: 0 auto;
	text-align: center;

}
.navbar-brand{
	color:black;
	font-size:30px; 
}
.nav a{
color: black;

}

#bio {
 
 padding: 100px;
}
#skills{
	padding: 100px;
}
.main-color {
	background-color: #EAE2EC;

}
.second-color{
	background-color:#FBEBFF;
}
#bio p{
	line-height: 1.5em;
}

img{ 
height: 300px;
width:300px; }
hr{
	width: 50px;
	color: #DDA7BE;
}
	

